<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.jbosworth2.japanese_studies"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.KanjiActivity"
            android:label="@string/kanji"
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.KanjiReadingActivity"
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
			android:name=".Activities.KanjiWriting" 
			android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
		<activity
		    android:name=".Activities.VocabActivity"
		    android:label="@string/vocab" 
		    android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
		<activity
		    android:name=".Activities.VocabStartReadingActivity" 
		    android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.VocabReadingActivity" 
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.VocabListeningActivity" 
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.GrammarActivity" 
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SearchActivity" 
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.ChangeLocaleActivity" 
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.InstallationActivity" 
            android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
